<h1>Scrabble</h1>

<p>Enter a sentence to get the scrabble score</p>

<form action='/detector' method='get'>
  <div class="form-group">
    <label for="sentence">Sentence:</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info btn-lg">Get Score!</button>
</form>
